@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;900&display=swap');

body{
    background-image: url("./Images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #e0e8ff;
    font-family: 'Red Hat Display', sans-serif;
    color: #2b324e;
}

@media screen and (min-width: 468px){
    body{
        background-image: url("./Images/pattern-background-desktop.svg");
    }
}
